:root {
    --color-primary: #6D9886;
    --color-text: #393E46;
    --border-radius: 0.2778rem;
    --color-background: #F8F5F1;
    --color-white: #F7F7F7;
    --color-grey: #686B6E;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-background);
}

.left-container {
    width: 290px;
    height: 982px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: var(--box-shadow);
    top: 0;
}

.chat-button {
    margin-top: 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-heading {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.section-icon {
    margin-right: 8px;
    color: var(--color-text);
}

.section-title {
    font-weight: 400;
}

.card {
    display: flex;
    width: 95%;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    margin-top: auto;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.user-name {
    font-weight: 600;
}

.user-location {
    color: var(--color-grey);
}

.settings-icon {
    font-size: 18px;
    color: var(--color-text);
    cursor: pointer;
}

.chats {
    margin-top: 15px;
}

.custom {
    margin-top: 530px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 290px);
    height: 86px;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 0 20px;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 0;
    left: 290px;
}

.nav-name {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
}

.add-to-cart-icon {
    font-size: 18px;
}

.container-wrapper {
    position: relative;
}

.chat-button,
.add-to-cart-button {
    margin-top: 16px;
    font-size: 16px;
    padding: 12px 20px;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart-button {
    gap: 8px;
}

.plus-icon {
    margin-right: 8px;
    font-size: 26px;
}
.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.plus-icon {
    margin-right: 8px;
    font-size: 18px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 290px);
    position: absolute;
    bottom: 0;
    left: 320px;
    max-height: calc(3 * (100vh - 200px));
    overflow-y: scroll;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    width: 95%;
    margin: 20px 0;
}
.chat-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}

.message-input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
    overflow-y: scroll;
}

.icon-container {
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 24px;
    color: var(--color-primary);
    cursor: pointer;
    margin-right: 10px;
}