<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat UI</title>

    {% load static %}

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap">
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="https://res.cloudinary.com/dhhax6yae/image/upload/v1692253215/Illustration_13_-modified_nstxo2.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
</head>

<body>
    <div class="container-wrapper">
        <div class="left-container">
            <button class="chat-button"><span class="plus-icon material-symbols-sharp">add</span>New Chat</button>
            <div class="chats">
                <div class="section-heading">
                    <div class="section-icon"><span class="material-symbols-sharp">chat_bubble</span></div>
                    <div class="section-title">Date Night Outfit</div>
                </div>
                <div class="section-heading">
                    <div class="section-icon"><span class="material-symbols-sharp">chat_bubble</span></div>
                    <div class="section-title">Christmas Outfit</div>
                </div>
                <div class="section-heading">
                    <div class="section-icon"><span class="material-symbols-sharp">chat_bubble</span></div>
                    <div class="section-title">Karwa Chauth Outfit</div>
                </div>
            </div>
            <div class="custom">
                <div class="section-heading">
                    <div class="section-icon"><span class="material-symbols-sharp">delete</span></div>
                    <div class="section-title">Clear conversations</div>
                </div>
                <div class="section-heading">
                    <div class="section-icon"><span class="material-symbols-sharp">open_in_new</span></div>
                    <div class="section-title">Updates & FAQ</div>
                </div>
                <div class="section-heading">
                    <div class="section-icon"><span class="material-symbols-sharp">logout</span></div>
                    <div class="section-title">Log out</div>
                </div>
            </div>
            <div class="card">
                <img class="profile-picture"
                    src="https://res.cloudinary.com/dhhax6yae/image/upload/v1691769490/Paneer_qc1zhn.png"
                    alt="Profile Picture">
                <div class="user-details">
                    <div class="user-name">Sai Praneetha</div>
                    <div class="user-location">Pune, India</div>
                </div>
                <div class="settings-icon"><span class="material-symbols-sharp">settings</span></div>
            </div>
        </div>
        <div class="top-container">
            <div class="nav-name">FashionFlip</div>
            <button class="add-to-cart-button"><span
                    class="add-to-cart-icon material-symbols-sharp">add_shopping_cart</span>Cart</button>
        </div>
        <div class="chat-ui">
            <div class="chat-bubble ai-bubble">
                <div class="profile-picture"><img
                        src="https://res.cloudinary.com/dhhax6yae/image/upload/v1692184252/Illustration_8_-modified_ohqeeu.png"
                        alt="AI Profile"></div>
                <div class="bubble-text">Hello, I am AI. How can I assist you?</div>
            </div>
            <div class="chat-bubble user-bubble">

                <div class="bubble-text">Hi there! I have a question about a product.</div>
                <div class="profile-picture"><img
                        src="https://res.cloudinary.com/dhhax6yae/image/upload/v1691769490/Paneer_qc1zhn.png"
                        alt="User Profile"></div>
            </div>
            <div class="chat-bubble ai-bubble">
                <div class="profile-picture"><img
                        src="https://res.cloudinary.com/dhhax6yae/image/upload/v1692184252/Illustration_8_-modified_ohqeeu.png"
                        alt="AI Profile"></div>
                <div class="bubble-text">you can go for all these products.</div>
            </div>
            <!-- <div class="recommended-products">
                <div class="product-card">
                    <img src="https://res.cloudinary.com/dhhax6yae/image/upload/v1692173235/free-braso2-o-combo-lorofy-unstitched-original-imag9nsvchhjmg4c_gayzoz.webp"
                        alt="Product Image">
                    <div class="product-details">
                        <div class="product-name">Product Name 1</div>
                        <div class="product-price">$100</div>
                    </div>
                    <div class="product-actions">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="favorite">Favorite</button>
                    </div>
                </div>
                
                <div class="product-card">
                    <img src="https://res.cloudinary.com/dhhax6yae/image/upload/v1692173235/free-braso2-o-combo-lorofy-unstitched-original-imag9nsvchhjmg4c_gayzoz.webp"
                        alt="Product Image">
                    <div class="product-details">
                        <div class="product-name">Product Name 1</div>
                        <div class="product-price">$100</div>
                    </div>
                    <div class="product-actions">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="favorite">Favorite</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://res.cloudinary.com/dhhax6yae/image/upload/v1692173235/free-braso2-o-combo-lorofy-unstitched-original-imag9nsvchhjmg4c_gayzoz.webp"
                        alt="Product Image">
                    <div class="product-details">
                        <div class="product-name">Product Name 1</div>
                        <div class="product-price">$100</div>
                    </div>
                    <div class="product-actions">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="favorite">Favorite</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="https://res.cloudinary.com/dhhax6yae/image/upload/v1692173235/free-braso2-o-combo-lorofy-unstitched-original-imag9nsvchhjmg4c_gayzoz.webp"
                        alt="Product Image">
                    <div class="product-details">
                        <div class="product-name">Product Name 1</div>
                        <div class="product-price">$100</div>
                    </div>
                    <div class="product-actions">
                        <button class="add-to-cart">Add to Cart</button>
                        <button class="favorite">Favorite</button>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <a href="#">See More</a>
            </div> -->
        </div>
    </div>
    </div>
    <div class="chat-container">
        <div class="messages-container"></div>
        <form id="chatForm">
            <div class="input-container">
                <div class="icon-container">
                    <span class="icon"><i class="fas fa-microphone"></i></span>
                </div>
                <div class="chat-input">
                    <input type="text" class="message-input" placeholder="Type a message...">
                </div>
                <div class="icon-container">
                    <span class="icon"><i class="fas fa-paperclip"></i></span>
                    <span class="icon"><i class="fas fa-paper-plane"></i></span>
                </div>
            </div>
        </form>
    </div>
    
    <div class="attachment-popup">
        <button class="close-button" id="closePopup"><i class="fas fa-times"></i></button>
        <button class="popup-button" id="clothesVisualizer">Clothes Visualizer</button>
        <button class="popup-button" id="searchFashion">Search Fashion</button>
        <div class="clothes-visualizer-content" id="clothesVisualizerContent">
            <div class="drag-drop-card" id="dragDropCard">
                <p>Drag and drop an image here or</p>
                <label for="fileInput" class="file-label">
                    <span class="material-symbols-sharp">cloud_upload</span> Browse
                </label>
                <input type="file" id="fileInput" class="file-input">
            </div>
            <div class="input-prompt-container" id="inputContainer">
                <input type="text" class="prompt-input" id="promptInput" placeholder="Enter a prompt...">
                <button class="save-button" id="saveButton">Save</button>
            </div>
            <div class="image-container" id="imageContainer">

            </div>
        </div>
        <div class="search-fashion-content" id="searchFashionContent">
            <div class="drag-drop-card" id="dragDropCard">
                <p>Drag and drop an image here or</p>
                <label for="fileInput" class="file-label">
                    <span class="material-symbols-sharp">cloud_upload</span> Browse
                </label>
                <input type="file" id="fileInput" class="file-input">
            </div>
            <div class="input-prompt-container" id="inputContainer">
                <input type="text" class="prompt-input" id="promptInput" placeholder="Enter a prompt...">
                <button class="save-button" id="saveButton">Submit</button>
            </div>
        </div>
    </div>

    <script src="{% static 'chat/chat.js' %}"></script>
</body>

</html>